<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    
    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search for team...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
</header>




<main class="score-container">
	{{#each games}}
	<article class="mini-scoreboard">
        <div class="scoreboard-icon">
          <i class="fas fa-basketball-ball"></i>
        </div>
        <div class="scoreboard-content">

          <div class="Team_1_Info">
          <p class="Team_1_Name">
       			{{team_1_name}}
	  </p>
	  </div>
	
          <div class="Team_2_Info">
          <p class="Team_2_Name">
        		{{team_2_name}}
	  </p>
          </div>
	  
          <div class="Game_Info">
	  <p class="Game_Date">
        		{{game_date}}
	  </p>
	  <p class="Start_Time">
        		{{start_time}}
	  </p>
	  <p class="Stadium">
        		{{stadium}}
	  </p>
  	  </div>
	  <button type"button" id="thread-icon"><i class="far fa-comment-alt"></i></button>
        </div>
        </article>
	{{/each}}
</main>
 
      <button type = "button" id="edit-game"><i class="fas fa-edit"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
     <div id="game-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add Game</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Stadium</label>
            <input type="text" id="input-1">
          </div>
          <div class="input-element">
            <label for="input-2">Game Date</label>
            <input type="date" id="input-2">
          </div>
          <div class="input-element">
            <label for="input-3">Start Time</label>
            <input type="time" id="input-3">
          </div>
        
          <div class="modal-header">
          <h3>Delete Game</h3>
          </div>
          <div class="input-element">
            <label for="input-4">Stadium</label>
            <input type="text" id="input-6">
          </div>
          <div class="input-element">
            <label for="input-5">Game Date</label>
            <input type="date" id="input-7">
          </div>
          <div class="input-element">
            <label for="input-6">Start Time</label>
            <input type="time" id="input-8">
          </div>
         </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-add-game-button">Add Game</button>
          <button type="button" class="modal-delete-game-button">Delete Game</button>
        </div>
      </div>
     </div>
