<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    
    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search for team...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
</header>


<br>
<br>
    <table>
      <tr>
        <th>Game ID</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Game Date</th>
        <th>Start Time</th>
        <th>Stadium</th>
	<th>Status</th>
      </tr>
      {{#each games}}
      <tr>
        <th>{{id}}</th>
        <th>{{team_1_name}}</th>
        <th>{{team_2_name}}</th>
        <th>{{game_date}}</th>
        <th>{{start_time}}</th>
        <th>{{stadium}}</th>
	<th>Unbegun</th>
      </tr>
      {{/each}}
     </table>


<br>
<br>
    <table style="width:60%" align="center">
     <tr>
        <th>Available Game IDs</th>
	<th>Stadium</th>
	<th>Game Date</th>
	<th>Start Time</th>
      </tr>
      {{#each availables}}
      <tr>
        <th>{{id}}</th>
        <th>{{stadium}}</th>
        <th>{{game_date}}</th>
        <th>{{start_time}}</th>
      </tr>
      {{/each}}
     </table>




    <button type = "button" id="edit-game"><i class="fas fa-edit fa-3x"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
     <div id="game-modal" class="hidden">
      <div class="modal-dialog">
        <form id="addgame" action="/games" method="post">
        <div class="modal-header">
          <h3>Add Game</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Stadium</label>
            <input type="text" id="input-1" name="stadium" required>
          </div>
          <div class="input-element">
            <label for="input-2">Game Date</label>
            <input type="date" id="input-2" name="game_date" required>
          </div>
          <div class="input-element">
            <label for="input-3">Start Time</label>
            <input type="time" id="input-3" name="start_time" required>
          </div>
	  <div class="modal-footer">
            <button type="submit" class="modal-add-game-button">Add Game</button>
          </div>
	</div>
        </form>

	<form id="deletegame" action="/games" method="post">
	<input type="hidden" name="_method" value="DELETE">        
          <div class="modal-header">
            <h3>Delete Game</h3>
          </div>
	<div class="modal-body">
          <div class="input-element">
            <label for="input-4">Game ID</label>
            <input type="number" id="input-4" name="game_id" required>
          </div>
	 </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="submit" class="modal-delete-game-button">Delete Game</button>
        </div>
	</form>
      </div>
     </div>
