<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    
    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
          <form id='search_homes' action='' method=''>
          <input type="text" id="navbar-search-input" placeholder="Search for team...">
          <button type="button" id="navbar-search-button" onclick="searchHomes()"><i class="fas fa-search"></i></button>
          </form>
          </li>
        </ul>
      </nav>
</header>

<br>
<br>
    <table>
      <tr>
        <th>Game ID</th>
        <th>Team 1</th>
        <th>Score</th>
        <th>Team 2</th>
        <th>Score</th>
        <th>Quarter</th>
        <th>Time Left</th>
        <th>Status</th>
      </tr>
      {{#each homes}}
      <tr>
        <th>{{id}}</th>
        <th>{{team_1_name}}</th>
        <th>{{team_1_score}}</th>
        <th>{{team_2_name}}</th>
        <th>{{team_2_score}}</th>
        <th>{{quarter}}</th>
	<th>{{time_left}}</th>
	<th>In Progress</th>
      </tr>
      {{/each}}
     </table>


</main> 
