<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    
    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search for user/game...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
</header>



<br>
<br>
    <table>
      <tr>
        <th>chat_number</th>
        <th>game_id</th>
        <th>username</th>
        <th>message</th>
        <th>date_sent</th>
        <th>time_sent</th>
      </tr>	
      {{#each messages}}
	<tr>
        <th>{{chat_number}}</th>
        <th>{{game_id}}</th>
        <th>{{username}}</th>
        <th>{{message}}</th>
        <th>{{date_sent}}</th>
        <th>{{time_sent}}</th>
      </tr>
      {{/each}}
     </table> 

      <button type = "button" id="edit-message"><i class="fas fa-edit"></i></button>

     <form id="addmessage" action="/messages" method="post">
     <div id="modal-backdrop" class="hidden"></div>
     <div id="message-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add Message</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>
	
        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Game ID</label>
            <input type="number" id="input-1" name="game_id">
          </div>
          <div class="input-element">
            <label for="input-2">Username</label>
            <input type="text" id="input-2" name="username">
          </div>
          <div class="input-element">
            <label for="input-3">Message</label>
            <input type="text" id="input-3" name="message">
          </div>
          <div class="input-element">
            <label for="input-4">Date</label>
            <input type="date" id="input-4" name="date_sent">
          </div>
         </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="submit" class="modal-add-message-button">Add Message</button>
        </div>
      </div>
     </div>
     </form>
