<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->
    
    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
          <form id='search_results' action='' method=''>
          <input type="text" id="navbar-search-input" placeholder="Search for team...">
          <button type="button" id="navbar-search-button" onclick="searchResults()"><i class="fas fa-search"></i></button>
	  </form>
          </li>
        </ul>
      </nav>
</header>

<br>
<br>
    <table>
      <tr>
        <th>Game ID</th>
        <th>Team 1</th>
        <th>Score</th>
        <th>Team 2</th>
        <th>Score</th>
        <th>Game Date</th>	
	<th>Status</th>
      </tr>
      {{#each results}}
      <tr>
        <th>{{id}}</th>
        <th>{{team_1_name}}</th>
        <th>{{team_1_score}}</th>
        <th>{{team_2_name}}</th>
        <th>{{team_2_score}}</th>
        <th>{{game_date}}</th>
        <th>Final</th>
      </tr>
      {{/each}}
     </table>

      <button type = "button" id="edit-result"><i class="fas fa-edit fa-3x"></i></button>

     <div id="modal-backdrop" class="hidden"></div>
     <div id="result-modal" class="hidden">
      <div class="modal-dialog">

        <form id="addresult" action="/results" method="post">
        <div class="modal-header">
          <h3>Add Result</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Game ID</label>
            <input type="number" id="input-1" name="game_id" min="1" required>
          </div>
          <div class="input-element">
            <label for="input-2">Team 1 ID</label>
            <input type="number" id="input-2" name="team_1_id" min="1" required>
          </div>
          <div class="input-element">
            <label for="input-3">Team 2 ID</label>
            <input type="number" id="input-3" name="team_2_id" min="1" required>
          </div>
          <div class="input-element">
            <label for="input-4">Team 1 Score</label>
            <input type="number" id="input-4" name="team_1_score" min="0" required>
          </div>
          <div class="input-element">
            <label for="input-5">Team 2 Score</label>
            <input type="number" id="input-5" name="team_2_score" min="0" required>
          </div>
          <div class="input-element">
            <label for="input-6">Quarter</label>
            <input type="number" id="input-6" name="quarter" min="1" max="4" required>
          </div>
	  <div class="input-element">
            <label for="input-7">Time Left</label>
            <input type="time" id="input-7" name="time_left" min="00:00" max ="00:12" required>
          </div>
         </div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="submit" class="modal-add-result-button">Add Result</button>
        </div>
	</form>
      </div>
     </div>
