<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->

    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
	  <form id='search_standings' action='' method=''>	
          <input type="text" id="navbar-search-input" placeholder="Search team name...">
          <button type="button" id="navbar-search-button" onclick="searchStandings()"><i class="fas fa-search"></i></button>
	  </form>
          </li>
        </ul>
      </nav>
</header>



<br>
<br>
    <table>
      <tr>
	<th>Team ID</th>
        <th>Teams</th>
        <th>Standing</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Win Percentage</th>
      </tr>
      {{#each standings}}
	<tr>
	<th>{{id}}</th>
        <th>{{team_name}}</th>
        <th>{{standing}}</th>
        <th>{{wins}}</th>
        <th>{{losses}}</th>
        <th>{{ties}}</th>
        <th>{{win_percentage}}</th>
      </tr>
      {{/each}}
     </table>

      <button type = "button" id="edit-standing"><i class="fas fa-edit fa-3x"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="standing-modal" class="hidden">
      <div class="modal-dialog">
	<form id="addstanding" action="/standings" method="post">
        <div class="modal-header">
          <h3>Add Team</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>
        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Team Name</label>
            <input type="text" id="input-1" name="team_name" required>
          </div>
          <div class="input-element">
            <label for="input-2">Wins</label>
            <input type="number" id="input-2" name="wins" min="0" required>
          </div>
          <div class="input-element">
            <label for="input-3">Losses</label>
            <input type="number" id="input-3" name="losses" min="0" required>
          </div>
          <div class="input-element">
            <label for="input-4">Ties</label>
            <input type="number" id="input-4" name="ties" min="0" required>
          </div>
	</div>
	<div class="modal-footer">
          <button type="submit" class="modal-add-standing-button">Add Team</button>
        </div>
        </form>
 	
	<form id="editstanding" action="/standings" method="post">
        <div class="modal-header">
         <h3>Edit Team</h3>
        </div>
        <div class="modal-body">
        <div class="input-element">
          <label for="input-5">Team ID</label>
          <input type="number" id="input-5" name="id" min="1" required>
        </div>
        <div class="input-element">
          <label for="input-6">New Wins</label>
          <input type="number" id="input-6" name="wins" min="0" required>
        </div>
        <div class="input-element">
          <label for="input-7">New Losses</label>
          <input type="number" id="input-7" name="losses" min="0" required>
        </div>
        <div class="input-element">
          <label for="input-8">New Ties</label>
          <input type="number" id="input-8" name="ties" min="0" required>
        </div>
	</div>
        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button onclick="updateStanding(document.getElementById('input-5').value)" class="modal-edit-standing-button">Edit Team</button>
        </div>
	</form>
      </div>
    </div>
