<header>
      <!-- The <i> tag below includes the bullhorn icon from Font Awesome -->

    <a href='/home'><h1 class="site-title">Beaver Lair</h1></a>

      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/home">Home</a></li>
          <li class="navitem navlink"><a href="/games">Games</a></li>
          <li class="navitem navlink"><a href="/results">Results</a></li>
	  <li class="navitem navlink"><a href="/standings">Standings</a></li>
	  <li class="navitem navlink"><a href="/users">Users</a></li>
	  <li class="navitem navlink"><a href="/messages">Messages</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search for team...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav>
</header>



<br>
<br>
    <table>
      <tr>
        <th>Teams</th>
        <th>Standing</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>Win Percentage</th>
      </tr>
      {{#each standings}}
	<tr>
        <th>{{team_name}}</th>
        <th>{{standing}}</th>
        <th>{{wins}}</th>
        <th>{{losses}}</th>
        <th>{{ties}}</th>
        <th>{{win_percentage}}</th>
      </tr>
      {{/each}}
     </table>

      <button type = "button" id="edit-standing"><i class="fas fa-edit"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="standing-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add Team</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="input-element">
            <label for="input-1">Team Name</label>
            <input type="text" id="input-1">
          </div>
          <div class="input-element">
            <label for="input-2">Standing</label>
            <input type="number" id="input-2">
          </div>
          <div class="input-element">
            <label for="input-3">Wins</label>
            <input type="number" id="input-3">
          </div>
          <div class="input-element">
            <label for="input-4">Losses</label>
            <input type="number" id="input-4">
          </div>
          <div class="input-element">
            <label for="input-5">Ties</label>
            <input type="number" id="input-5">
          </div>
          <div class="input-element">
            <label for="input-6">Win Percentage</label>
            <input type="text" id="input-6">
          </div>

        <div class="modal-header">
         <h3>Edit Team</h3>
        </div>
        <div class="input-element">
          <label for="input-1">Team Name</label>
          <input type="text" id="input-1">
        </div>
        <div class="input-element">
          <label for="input-2">New Standing</label>
          <input type="number" id="input-2">
        </div>
        <div class="input-element">
          <label for="input-3">New Wins</label>
          <input type="number" id="input-3">
        </div>
        <div class="input-element">
          <label for="input-4">New Losses</label>
          <input type="number" id="input-4">
        </div>
        <div class="input-element">
          <label for="input-5">New Ties</label>
          <input type="number" id="input-5">
        </div>
        <div class="input-element">
          <label for="input-6">New Win Percentage</label>
          <input type="text" id="input-6">
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-add-standing-button">Add Team</button>
          <button type="button" class="modal-edit-standing-button">Update Team</button>
        </div>
      </div>
    </div>
